body {
  background: #FAFAFA;
  padding-left: 20%;
  padding-right: 20%;
  /*font-family: 'Caveat', cursive;*/
  /*font-family: 'Cabin Sketch', cursive;
  font-size: 3rem;*/
}


/*.btn-lg {
  font-size: 2rem;
}*/

body {
  font-family: 'Sue Ellen Francisco'
  /*'Loved by the King'*/
  , cursive;
  font-size: 1.5rem;
}

h1, h3 {
  font-family: 'Cabin Sketch', cursive;
  /*font-size: 2rem;*/
}

h1 {
  margin-top: 1em;
}

h3 {
  margin-bottom: 2em;
  font-weight: bold;
}


/*.css-selector {
  font-family: 'Caveat', cursive;
  font-family: 'Loved by the King', cursive;
}*/

.full-page {
  height: 100vh;
  /*padding-left: 25%;
  padding-right: 25%;*/
}

#bottom-button {
  position: fixed;
  /*align-items: center;*/
  bottom: 20px;
}


/*.hidden {
  display: none;
}*/


/*buton h1 {
  font-family: Victoriandeco Regular, Gill Sans, sans-serif;
  text-align: center;
  color: #6e0f77;
  font-size: 6rem;
}*/


/*h2, h3 {
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
  font-stretch: expanded;
  text-align: left;
  color: #6e0f77;
  font-size: 3rem;
}*/
